*.swp
*.swo
*.tmp

# OS ignores
.DS_Store

# IntelliJ workspace-specific
.idea
.ijwb

# Ignore all VSCode settings
/.vscode/

# Auto generated config file for local execution
/config/**/**/**/secrets.yml

# Build output
/bin/
/tmp/
/.buildkite-caches/
/gomock_reflect_*
