version: "3"

services:
  localstack:
    image: localstack/localstack:2.3.2
    ports:
      - 4566:4566
    environment:
      - SERVICES=s3,dynamodb,sqs
      - DEBUG=1
      - DOCKER_HOST=unix:///var/run/docker.sock
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=requirednotused
      - AWS_SECRET_ACCESS_KEY=requirednotused
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
